<% if (!locals.role ) { %>
<header>
  <nav
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      <img class="header_logo" src="/img/header_logo.png" />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li id="nav-link" class="nav-item">
        <a href="/" class="nav-link px-2 link-dark">Главная</a>
      </li>
      <li id="nav-link" class="nav-item">
        <a href="/table" class="nav-link px-2 link-dark">Таблица</a>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <% if(locals.isLogged ==='isLoggedOut') { %>
      <a href="/auth" class="btn btn-outline-primary">Войти</a>
      <% } else { %>
      <a href="/profile/<%= locals.user.id %> " class="btn btn-outline-primary"
        >Профиль</a
      >
      <a href="/auth/logout" class="btn btn-outline-primary">Выйти</a>
      <% } %>
    </div>
  </nav>
</header>
<% } else {%>
<header>
  <nav
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom"
  >
    <h3>
      <a href="/admin" class="text-decoration-none text-primary">Admin Page</a>
    </h3>
    <a href="/auth/logout" class="btn btn-outline-primary">Выйти</a>
  </nav>
</header>
<% } %>
