<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Index</title>
  </head>
  <body class="d-flex flex-column min-vh-100" cz-shortcut-listen="true">
    <header>
      <div class="container">
        <nav
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        >
          <a
            href="/"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
          >
            <img class="header_logo" src="img/header_logo.png" />
          </a>

          <ul
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
          >
            <li id="nav-link" class="nav-item">
              <a href="#" class="nav-link px-2 link-dark">Главная</a>
            </li>
            <li id="nav-link" class="nav-item">
              <a href="#" class="nav-link px-2 link-dark">О нас</a>
            </li>
          </ul>

          <div class="col-md-3 text-end">
            <a href="/auth" class="btn btn-outline-primary me-2">
              Войти
            </a>
            <a href="/reg" class="btn btn-primary">
              Зарегистрироваться
            </a>
          </div>
        </nav>
      </div>
    </header>

    <main class="flex-shrink-0 mb-5">
      <div class="container">
        <form>
            <!-- IIN input -->
            <div class="form-outline mb-4">
              <input type="text" id="formIIN" class="form-control" />
              <label class="form-label" for="formIIN">ИИН</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Pass" class="form-control" />
              <label class="form-label" for="form2Pass">Пароль</label>
            </div>

            <!-- LastName input -->
            <div class="form-outline mb-4">
                <input type="text" id="form2LastName" class="form-control" />
                <label class="form-label" for="form2LastName">Фамилия</label>
            </div>

            <!-- FirstName input -->
            <div class="form-outline mb-4">
                <input type="text" id="form2FirstName" class="form-control" />
                <label class="form-label" for="form2FirstName">Имя</label>
            </div>
          
            <!-- INFO ABOUT -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
              </div>
          
              <div class="col">
                <!-- Simple link -->
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4">Регистрация</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Вы загитрированы? <a href="#!">Залогиниться</a></p>
            </div>
          </form>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <div class="footer-text">A-Class Medical</div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
