/* Chrome, Safari, Edge, Opera */
.form-control-custom::-webkit-inner-spin-button,
.form-control-custom::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-control-custom[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.bi-eye-slash {
  position: absolute;
  top: 32%;
  right: 4%;
  cursor: pointer;
}

hr {
  
}
