body {
  box-sizing: border-box;
}

/* Navbar */

.header_logo {
  width: 15.626rem;
  height: calc(width/2.66);
}

.nav-link {
  font-size: 1.2rem !important;
  margin: 0 1.5rem;
}

#nav-link > a:hover {
  color: #316f91 !important;
}

/* Footer */

.footer-text {
  text-align: center;
}

.footer-custom {
  background-color: #f5f5f5 !important;
}
